maps/2024-08_Ethiopia_notes.pdf
.ipynb_checkpoints/*
__pycache__/*
*.pyc
*.pyo
*.pyd
*.ipynb_checkpoints
*.swp
*.bak
*.bak.*
*.backup
*.backup.*
*.orig
*.orig.*
*.old
*.old.*
*.tmp
*.tmp.*
*.log
*.log.*
*.rej
*.rej.*

